export LIVEKIT_API_KEY=
export LIVEKIT_API_SECRET=
export LIVEKIT_URL=

export CLOUDINARY_CLOUD_NAME=
export CLOUDINARY_API_KEY=
export CLOUDINARY_API_SECRET=
export JWT_SECRET=

export BACKEND_URL = http://localhost:3000
export FRONTEND_URL = http://localhost:5173
export GOOGLE_CLIENT_ID = 
export GOOGLE_CLIENT_SECRET = 
export SMTP_USER = 
export SMTP_PASS = 

DATABASE_URL=
REDIS_URL=